<div class="search-box">
  <input type="search" name="search" placeholder="Search" #searchInput (input)="onInputChange()" />
  <select name="sort" #sortDropdown (input)="onInputChange()">
    <option value="id">Sort by</option>
    <option value="firstName">First name</option>
    <option value="lastName">Last name</option>
    <option value="maidenName">Maiden name</option>
    <option value="age">Age</option>
    <option value="phone">Phone</option>
  </select>
</div>

<!-- <app-table [searchQuery]="searchInput.value" [sortBy]="sortDropdown.value" #table></app-table> -->
<app-table #table></app-table>
